<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title id="page_title"></title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
        <style>
        .container {
            max-width: 800px;
            margin: auto;
        }
        .step-card {
            margin-bottom: 20px;
            position: relative;
        }
        .arrow {
            left: 50%;
            transform: translateX(50%);
            top: 100%;
            font-size: 2rem;
            margin-top: -20px;
        }
        .modal-header, .modal-body, .modal-footer {
            text-align: left;
        }
        .form-control{
            height: 300px;
        }

    </style>
    </head>
    <body>
        <div class="container mt-5">
            <h1 id="proj_name">Projetos</h1>

            <div id="steps-container"></div>
        </div>

        <!-- Modal 
        <div class="modal fade" id="stepModal" tabindex="-1"
            aria-labelledby="stepModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="step_name"></h5>
                        <button type="button" class="btn-close"
                            data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <p id="step_desc"></p>
                        <p><strong>Início:</strong> <span
                                id="started_at"></span></p>
                        <p><strong>Término:</strong> <span
                                id="finished_at"></span></p>
                        <div class="form-group">
                            <label for="step_data">Dados do processo:</label>
                            <textarea id="step_data"
                                class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">Sair</button>
                        <button type="button" class="btn btn-primary"
                            id="saveStep">Salvar Alterações</button>
                    </div>
                </div>
            </div>
        </div>
        -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script>
        document.addEventListener("DOMContentLoaded", function() {
        const apiBaseUrl = "http://127.0.0.1:5000/api/v1";

        // Fetch project details
        fetch(`${apiBaseUrl}/project`)
            .then(response => response.json())
            .then(data => {
                const stepsContainer = document.getElementById("steps-container");
                stepsContainer.innerHTML = '';

                const steps = data.projects;  // Acesse os steps a partir de data.steps

                steps.forEach((step, index) => {
                        const stepCard = document.createElement("div");
                        stepCard.className = "step-card card p-3";
                        stepCard.innerHTML = `
                            <h5>${step.proj_name}</h5>
                            <p><strong>Início:</strong> ${step.started_at ? new Date(step.finished_at).toLocaleString() : 'Projeto não iniciado'}</p>
                            <p><strong>Término:</strong> ${step.finished_at ? new Date(step.finished_at).toLocaleString() : 'Projeto não finalizado'}</p>
                        `;
                        stepsContainer.appendChild(stepCard);
                    })
                });
            });

    </script>
    </body>
</html>
