<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pixel Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <div class="header-full">
            <img class="logo" src="{{ url_for('static', filename='images/logo.png') }}"></img>
            <nav>
                <a href="#">Start</a>
                <a href="#">About</a>
                <a href="#">Buy Pixels</a>
            </nav>
        </div>
    </header>

    <div class="container">
        <canvas id="canvas" width="1000" height="1000"></canvas>
    </div>
</body>
</html>
